---
title: Irina The Nerd
layout: main
---
<main>
  <header class="border--bottom">
    <h1>Irina Petrova</h1>
    <span>Your friendly neighbourhood front-end developer</span>
    <br/>
    <a href="mailto:{{ data.email }}" class="btn">Let's chat!</a>
  </header>
  <section class="border--bottom">
    <p>Having worked in the industry for seven years and becoming a Senior Front-end developer, I still find joy in learning, solving problems and building products.</p>
    <p>
      Collaborating with different teams, putting ideas to paper and forming and providing honest feedback is where I thrive.
    </p>
    <p>
      I have a strong understanding of UI/UX, experience of developing scalable applications in React and Typescript, and delivering features in a timely manner.</p>
  </section>
  {% include 'skills' %}
  {% include 'work' %}
  {% include 'awards' %}
</main>
{% include 'footer' %}