<footer>
  <small>
    <center>
      Made with
      <a
        href="http://www.11ty.dev/"
        target="_blank"
        rel="noopener noreferrer">eleventy</a>
      and a lot of love by IrinaTheNerd
    </center>
  </small>
</footer>