<section>
  <h2>Experience</h2>

  {% assign workByOrder = collections.experience | sort: "data.order" %}
  {% for post in workByOrder %}
    <article class="border--bottom">
      <header class="work__header">
        <h3>{{ post.data.title }}</h3>
        <time datetime="{{ workingDate }}" class="pill">{{ post.data.workingDate }}</time>
      </header>
      <div class="content">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
</section>