<section>
  <h2>Experience</h2>
  {% for post in collections.experience | reverse: "data.workingDate" %}
    <article class="border--bottom">
      <header class="work__header">
        <h3>{{ post.data.title }}</h3>
        <time datetime="{{ workingDate }}" class="pill">{{ post.data.workingDate }}</time>
      </header>
      <div class="content">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
</section>