<section>
  <h2>Experience</h2>
  {% for post in collections.experience %}
    <article class="border--bottom">
      <header class="work__header">
        <h3>{{ post.data.title }}</h3>
        <span class="pill">{{ post.data.workingDate }}</span>
      </header>
      <div class="content">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
</section>