*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --background: hsl(37, 45%, 94%);
  --text: hsl(17, 14%, 29%);
  --cta: hsl(218, 52%, 68%);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

main {
  max-width: 40rem;
  margin-inline: auto;
  padding: 1rem;
}

main > * {
  margin-block-end: 2rem;
}

h1,
h2 {
  margin-block: 1.25rem;
}

h3,
p {
  margin-block: 0.75rem;
}
